/* style.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #9dcde0;
    margin: 0;
    padding: 0;
}

h3 {
    text-align: center;
    color: #333;
}

.main {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.postdiv {
    max-width: 400px;
    height: 450px;
    margin: 15px auto;
    background-color: #f3f8f5;
    padding: 3px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
}


.buttonToLink {
    background: none;
    border: none;
    color: blue
}

.buttonToLink:hover {
    background: none;
    text-decoration: underline;
}

.label {
    color: rgb(11, 87, 42);
    padding: 2px;
    font-family: Arial;
    font-size: 12px;
}

.label1 {
    color: rgb(3, 132, 55);
    padding: 2px;
    font-family: Arial;
    font-size: 9px;
}
